<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" prefix="og: http://ogp.me/ns#"> <!--<![endif]-->
    <head>
      <!-- Meta -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Visual history of computing by Akita Systems</title>
    <meta name="description" content="A visual history of computing. Scroll back over the last 70 years to see how technology has developed.">
        <meta name="viewport" content="width=device-width">
    <link rel="canonical" href="http://www.akita.co.uk/computing-history/">

    <link rel="author" href="https://plus.google.com/100915462565232705359/posts"/>

    <!-- MS -->
    <meta name="application-name" content="Akita: A visual history of computing"/>
    <meta name="msapplication-TileColor" content="#ffffff"/>

    <!-- Apple -->
    <meta name="apple-mobile-web-app-status-bar-style" content="white">

    <!-- OG -->
    <meta property="og:title" content="Visual history of computing" />
    <meta property="og:site_name" content="Akita IT Support">
    <meta property="og:url" content="http://www.akita.co.uk/computing-history/" />
    <meta property="og:image" content="http://www.akita.co.uk/computing-history/img/og.jpg" />
    <meta property="og:description" content="A visual history of computing. Scroll back over the last 70 years to see how technology has developed">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/main.css">

    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
    <div class="app-wrap" id="skrollr-body">
      <!-- FRONT -->
      <div class="page front-page"
        data-0="z-index: 1; position: fixed; top: 0; left: 0; bottom: 0; left: 0; margin: auto; height: 100%; width: 100%; "
        data-800="z-index: 0;">
        <div class="container">
          <div class="brand">
            <a href="http://www.akita.co.uk/" title="Akita"><img src="img/akita.png" width="200" /></a>
          </div>
          <div class="wrapper">
            <header>
              <h1>Overview Introduction<span>F - Club</span></h1>
            </header>
            <p>Technological advancements over the last century have meant many of us now own multiple computers - desktops and laptops, mobile phones, tablets.
            The modern personal computer as we know it is only a recent invention.
            Scroll down to see how this technology has evolved over the past 70 years. </p>
            <div class="hide-if-js"><p>Bookmark this page to view on a larger, JavaScript-enabled device.</p></div>
          </div>

          <div class="scroll-arrow" data-7000="opacity: 1;" data-8000="opacity: 0;"></div>
        </div>
      </div>


          <div class="decades"
            data-800="position: fixed; top: 100%; width: 100%; height: 100%;"
            data-1000="top: 0%; ">
            <section id="decade2010" class="page decade decade2010" data-nav="2010"
              data-0="top: 0%;">
              <div class="container">
                <header
                  data-900="top: -200px;"
                  data-1000="top: 10px;">
                  <h2 class="super-huge">How to use?</h2>
                  <h2>STEP <span>1</span></h2>
                </header>
                <div class="inner"
                  data-800="top: -100px;"
                  data-1000="top: 190px;"
                  data-1700="opacity: 1;"
                  data-2000="opacity: 0;">
              <div class="fact top-left"
                data-1100="opacity: 0;"
                data-1300="opacity: 1;" >
                <h3>Tablets outselling laptops</h3>
                <p>In 2013, tablets will outsell laptops. Workforces are becoming increasingly more mobile and the presence of desktop computers in the office is declining. </p>
              </div>

              <div class="dot" id="decade2010Left" rel="popover"
                data-1300="opacity: 0;"
                data-1500="opacity: 1;"
              data-title="Mobile in the workplace"
              data-content="With over 50% of employees using mobile technology in the workplace, companies must work harder to balance risk, complexity and cost."
              data-placement="bottom"></div>

              <div class="fact top-right hide-if-js">
                <h3>Working in the cloud</h3>
                <p>In 2012, over 75% of SMEs had moved to cloud services, the biggest growth area is Infrastructure as a service, followed by Platform as a service. The biggest drive for moving to cloud computing is cost savings.</p>
              </div>
              <img src="img/2010.png" alt="2010: Mobile devices, Windows 8 and cloud devices"/>

              <div class="fact bottom-right"
                data-1300="opacity: 0;"
                data-1500="opacity: 1;" >
                <h3>Windows 8</h3>
                <p>On 26 October 2012, Microsoft released Windows 8, which brought major changes to the platform and user interface in a bid to improve user experience across devices such as tablets.</p>
              </div>

              <div class="dot" id="decade2010Right" rel="popover"
                data-1400="opacity: 0;"
                data-1600="opacity: 1;"
              data-title="Working in the cloud"
              data-content="In 2012, over 75% of SMEs had moved to cloud services, the biggest growth area is Infrastructure as a service, followed by Platform as a service. The biggest drive for moving to cloud computing is cost savings."
              data-placement="top"></div>

              <div class="fact bottom-left hide-if-js">
                <h3>Mobile in the workplace</h3>
                <p>With over 50% of employees using mobile technology in the workplace, companies must work harder to balance risk, complexity and cost.</p>
              </div>

            </div><!--.inner-->
              </div>
            </section>
            <section id="decade2000" class="page decade decade2000" data-nav="2000"
              data-1800="top: 100%;"
              data-2000="top: 0%;">
              <div class="container">
                <header
                  data-1900="top: -200px;"
                  data-2000="top: 10px;">
                  <h2>Computing in the <span>2000s</span></h2>
                </header>
                <div class="inner"
                  data-1800="top: -100px;"
                  data-2000="top: 190px;"
                  data-2700="opacity: 1;"
                  data-3000="opacity: 0;">
              <div class="fact top-left"
                data-2100="opacity: 0;"
                data-2300="opacity: 1;" >
                <h3>Laptops outselling desktops </h3>
                <p>Global notebook PC shipments beat desktop PC shipments in Q3 2008, the first time that's happened in the computer industry.</p>
              </div>

              <div class="fact top-right hide-if-js">
                <h3>Introduction of the iPhone</h3>
                <p>Apple released the first generation iPhone on 29 June 2007, the phone was later released in November 2007 in the UK. Development began in 2004, comprised of a team of 1000 people and cost $150m over thirty months.</p>
              </div>

              <div class="dot" id="decade2000Left" rel="popover"
                data-2300="opacity: 0;"
                data-2500="opacity: 1;"
              data-title="Introduction of the iPhone"
              data-content="Apple released the first generation iPhone on 29 June 2007, the phone was later released in November 2007 in the UK. Development began in 2004, comprised of a team of 1000 people and cost $150m over thirty months."
              data-placement="bottom"></div>

                  <img src="img/2000.png" alt="2000: Desktop computers, launch of BlackBerry and iPhones"/>

              <div class="fact bottom-right"
                data-2300="opacity: 0;"
                data-2500="opacity: 1;" >
                <h3>The decade of Windows </h3>
                <p>The 2000’s was a busy decade for Microsoft, who released Windows XP, Vista and 7.  In late 2013, Windows 7’s desktop OS share was 46%, followed by XP at 31% and Windows 8 at 9%.</p>
              </div>

              <div class="dot" id="decade2000Right" rel="popover"
                data-2400="opacity: 0;"
                data-2600="opacity: 1;"
              data-title="PC uptake hits 1 billion"
              data-content="Between the mid-1970s and the release of Windows XP, roughly 1 billion PCs had been shipped worldwide."
              data-placement="top"></div>

              <div class="fact bottom-left hide-if-js">
                <h3>PC uptake hits 1 billion </h3>
                <p>Between the mid-1970s and the release of Windows XP, roughly 1 billion PCs had been shipped worldwide.</p>
              </div>
                </div>
              </div>
            </section>
            <section id="decade1990" class="page decade decade1990" data-nav="1990"
              data-2800="top: 100%;"
              data-3000="top: 0%;">
              <div class="container">
                <header
                  data-2900="top: -200px;"
                  data-3000="top: 10px;">
                  <h2>Computing in the <span>1990s</span></h2>
                </header>
                <div class="inner"
                  data-2800="top: -100px;"
                  data-3000="top: 190px;"
                  data-3700="opacity: 1;"
                  data-4000="opacity: 0;">
                  <div class="fact top-left"
                data-3100="opacity: 0;"
                data-3300="opacity: 1;">
                <h3>The birth of Microsoft Office </h3>
                <p>Microsoft launched “The Microsoft Office for Windows” on 19 November 1990, comprising of Word 1.1, Excel 2.0 and PowerPoint 2.0.</p>
              </div>

              <div class="dot" id="decade1990Left" rel="popover"
                data-3300="opacity: 0;"
                data-3500="opacity: 1;"
              data-title="Multiplayer PC games evolved"
              data-content="Broadly considered to be one of the most influential titles in gaming history, Doom was released on 10 December 1993. Within two years it was estimated that the game was played by 10 million people."
              data-placement="bottom"></div>

                  <div class="fact top-right hide-if-js">
                <h3>Multiplayer PC games evolved </h3>
                <p>Broadly considered to be one of the most influential titles in gaming history, Doom was released on 10 December 1993. Within two years it was estimated that the game was played by 10 million people.</p>
              </div>

              <img src="img/1990.png" alt="1990: Common to see desktop computers in homes. Uptake of world wide web"/>

              <div class="fact bottom-right"
                data-3300="opacity: 0;"
                data-3500="opacity: 1;" >
                <h3>Hotmail was launched commercially </h3>
                <p>Launching commercially on 4 July 1996, Hotmail gave users the ability to access their inbox from anywhere in the world. The limit for free storage was 2MB, and by December 1997 Hotmail reported having more than 8.5 million subscribers.</p>
              </div>

              <div class="dot" id="decade1990Right" rel="popover"
                data-3400="opacity: 0;"
                data-3600="opacity: 1;"
              data-title="Computers increasingly used at work and home"
              data-content="Worldwide shipments of computers surpassed the 100-million mark in 1999. It is estimated that 75% of computers sold were sold for business use, with the remainder for personal or home use."
              data-placement="top"></div>

              <div class="fact bottom-left hide-if-js">
                <h3>Computers increasingly used at work and home </h3>
                <p>Worldwide shipments of computers surpassed the 100-million mark in 1999. It is estimated that 75% of computers sold were sold for business use, with the remainder for personal or home use.</p>
              </div>
            </div>
              </div>
            </section>
            <section id="decade1980" class="page decade decade1980" data-nav="1980"
              data-3800="top: 100%;"
              data-4000="top: 0%;">
              <div class="container">
                <header
                  data-3900="top: -200px;"
                  data-4000="top: 10px;">
                  <h2>Computing in the <span>1980s</span></h2>
                </header>
                <div class="inner"
                  data-3800="top: -100px;"
                  data-4000="top: 190px;"
                  data-4700="opacity: 1;"
                  data-5000="opacity: 0;">
              <div class="fact top-left"
                data-4100="opacity: 0;"
                data-4300="opacity: 1;">
                <h3>The Sinclair ZX80 mass released</h3>
                <p>Sinclair developed the ZX80, a ‘mini-sized’ (20×20 cm) home computer with a multifunctional waterproof keyboard. It was the first computer to sell for under £100.</p>
              </div>

              <div class="dot" id="decade1980Left" rel="popover"
                data-4300="opacity: 0;"
                data-4500="opacity: 1;"
              data-title="3½ inch floppy disk"
              data-content="Following the initial launch of various new disk formats in the early 1970's, 1982 saw the launch of the then-standard 3½ inch floppy disk, first manufactured by Sony."
              data-placement="bottom"></div>

              <div class="fact top-right hide-if-js">
                <h3>3½ inch floppy disk</h3>
                <p>Following the initial launch of various new disk formats in the early 1970's, 1982 saw the launch of the then-standard 3½ inch floppy disk, first manufactured by Sony.</p>
              </div>

              <img src="img/1980.png" alt="1980: CDROM and Floppy Disks, ZX80 Sinclair. Tetris"/>

              <div class="fact bottom-right"
                data-4300="opacity: 0;"
                data-4500="opacity: 1;" >
                <h3>Birth of the modern internet </h3>
                <p>In 1982, the internet protocol TCP/IP was standardised, allowing the introduction of the concept of a worldwide network of interconnected TCP/IP networks, referred to as The Internet.</p>
              </div>

              <div class="dot" id="decade1980Right" rel="popover"
                data-4400="opacity: 0;"
                data-4600="opacity: 1;"
              data-title="The development of Tetris"
              data-content="Tetris was released on 6 June 1984 and was the first entertainment software to be exported from the USSR to the US. Whilst initially launched for 1980’s home computer platforms, it was the Game Boy version launched in 1989 that helped the game achieve its huge success."
              data-placement="top"></div>

              <div class="fact bottom-left hide-if-js">
                <h3>The development of Tetris </h3>
                <p>Tetris was released on 6 June 1984 and was the first entertainment software to be exported from the USSR to the US. Whilst initially launched for 1980’s home computer platforms, it was the Game Boy version launched in 1989 that helped the game achieve its huge success.</p>
              </div>
            </div>
              </div>
            </section>
            <section id="decade1970" class="page decade decade1970" data-nav="1970"
              data-4800="top: 100%;"
              data-5000="top: 0%;">
              <div class="container">
                <header
                  data-4900="top: -200px;"
                  data-5000="top: 10px;">
                  <h2>Computing in the <span>1970s</span></h2>
                </header>
                <div class="inner"
                  data-4800="top: -100px;"
                  data-5000="top: 190px;"
                  data-5700="opacity: 1;"
                  data-6000="opacity: 0;">
              <div class="fact top-left"
                data-5100="opacity: 0;"
                data-5300="opacity: 1;">
                <h3>Microsoft and Apple founded </h3>
                <p>Microsoft was founded on 4 April 1975 by Bill Gates and Paul Allen. Apple Inc was founded on 1 April 1977 by Steve Jobs, Steve Wozniak and Ronald Wayne, and was incorporated nine months later.</p>
              </div>

              <div class="dot" id="decade1970Left" rel="popover"
                data-5300="opacity: 0;"
                data-5500="opacity: 1;"
              data-title="The Commodore PET"
              data-content="The Commodore Personal Electronic Translator was a personal computer produced in 1977. The first model, the PET 2001 came with either 4 kb or 8 kb of 8-bit RAM. Due to huge demand of the computer, and backed up orders, the 4 kb version was quickly dropped."
              data-placement="bottom"></div>

              <div class="fact top-right hide-if-js">
                <h3>The Commodore PET </h3>
                <p>The Commodore Personal Electronic Translator was a personal computer produced in 1977. The first model, the PET 2001 came with either 4 kb or 8 kb of 8-bit RAM. Due to huge demand of the computer, and backed up orders, the 4 kb version was quickly dropped.</p>
              </div>

              <img src="img/1970.png" alt="1970: Launch of Microsoft, Apple, Commodeore PET"/>

              <div class="fact bottom-right"
                data-5300="opacity: 0;"
                data-5500="opacity: 1;" >
                <h3>UNIX growing in popularity </h3>
                <p>The first commercial installation of UNI took place in 1972 in New York. During the late 1970’s the influence of Unix in academic circles led to a large scale adoption of Unix by commercial startups, including Darwin which forms the core of Apple’s OS X and iOS.</p>
              </div>

              <div class="dot" id="decade1970Right" rel="popover"
                data-5400="opacity: 0;"
                data-5600="opacity: 1;"
              data-title="First portable calculator introduced"
              data-content="The first portable calculators were introduced in Japan in 1970. These included the Sanyo Mini Calculator, the Canon Pocketronic and the Sharp Micro Compet. "
              data-placement="top"></div>

              <div class="fact bottom-left hide-if-js">
                <h3>First portable calculator introduced </h3>
                <p>The first portable calculators were introduced in Japan in 1970. These included the Sanyo Mini Calculator, the Canon Pocketronic and the Sharp Micro Compet.</p>
              </div>

            </div>
              </div>
            </section>
            <section id="decade1960" class="page decade decade1960" data-nav="1960"
              data-5800="top: 100%;"
              data-6000="top: 0%;">
              <div class="container">
                <header
                  data-5900="top: -200px;"
                  data-6000="top: 10px;">
                  <h2>Computing in the <span>1960s</span></h2>
                </header>
                <div class="inner"
                  data-5800="top: -100px;"
                  data-6000="top: 190px;"
                  data-6700="opacity: 1;"
                  data-7000="opacity: 0;">
              <div class="fact top-left"
                data-6100="opacity: 0;"
                data-6300="opacity: 1;">
                <h3>Intel founded </h3>
                <p>Intel was founded on 18 July 1968 by Gordon Moore and Robert Noyce. In 2011 Intel had 79.3% market share of the overall worldwide PC microprocessor market and 84.4% of the mobile PC microprocessor market.</p>
              </div>

              <div class="dot" id="decade1960Left" rel="popover"
                data-6300="opacity: 0;"
                data-6500="opacity: 1;"
              data-title="Hewlett Packard enter the industry"
              data-content="Hewlett Packard entered the desktop computer business in 1968 with the introduction of the 9100A. The desktop was referred to as a calculator to stop it being rejected by the market as it didn’t look like an IBM, who were at the time dominating the market. The 9100A weighted 18 kg and cost around $5000."
              data-placement="bottom"></div>

              <div class="fact top-right hide-if-js">
                <h3>Hewlett Packard enter the industry </h3>
                <p>Hewlett Packard entered the desktop computer business in 1968 with the introduction of the 9100A. The desktop was referred to as a calculator to stop it being rejected by the market as it didn’t look like an IBM, who were at the time dominating the market. The 9100A weighted 18 kg and cost around $5000.</p>
              </div>

              <img src="img/1960.png" alt="1960: Launch of Intel, HP and BASIC programming language"/>

              <div class="fact bottom-right"
                data-6300="opacity: 0;"
                data-6500="opacity: 1;" >
                <h3>BASIC programming language designed </h3>
                <p>BASIC (Beginner’s All-purpose Symbolic Instruction Code) is a group of generic, high-level programming languages designed for ease of use. Designed by John Kemeny and Thomas Kurtz in 1964, the language was developed to help more students learn to code.</p>
              </div>

              <div class="dot" id="decade1960Right" rel="popover"
                data-6400="opacity: 0;"
                data-6600="opacity: 1;"
              data-title="ARPANET developed by the US military"
              data-content="In 1969 the Advanced Research Projects Agency Network (ASPANET) was introduced as one of the world’s first operational packet switching networks, the first to implement TCP/IP making it the progenitor of the modern internet."
              data-placement="top"></div>

              <div class="fact bottom-left hide-if-js">
                <h3>ARPANET developed by the US military </h3>
                <p>In 1969 the Advanced Research Projects Agency Network (ASPANET) was introduced as one of the world’s first operational packet switching networks, the first to implement TCP/IP making it the progenitor of the modern internet.</p>
              </div>
            </div>

              </div>
            </section>
            <section id="decade1950" class="page decade decade1950" data-nav="1950"
              data-6800="top: 100%;"
              data-7000="top: 0%;">
              <div class="container">
                <header
                  data-6900="top: -200px;"
                  data-7000="top: 10px;">
                  <h2>Computing in the <span>1950s</span></h2>
                </header>
                <div class="inner"
                  data-6800="top: -100px;"
                  data-7000="top: 190px;"
                  data-7700="opacity: 1;"
                  data-8000="opacity: 0;">
              <div class="fact top-left"
                data-7100="opacity: 0;"
                data-7300="opacity: 1;">
                <h3>UNIVAC </h3>
                <p>The UNIVAC I was the first American computer designed from the outset for business and administrative use. Owners Remington Rand joined up with CBS to correctly predict the 1952 presidential election results, contrary to the pollsters’ favorite.</p>
              </div>

              <div class="dot" id="decade1950Left" rel="popover"
                data-7300="opacity: 0;"
                data-7500="opacity: 1;"
              data-title="The first commercial application of computers"
              data-content="J. Lyons & Co. was a pioneer in introducing computers to business. Between 1951 and 1963, the company manufactured and sold a range of LEO (Lyons Electronic Office) computers."
              data-placement="bottom"></div>

              <div class="fact top-right hide-if-js">
                <h3>The first commercial application of computers </h3>
                <p>J. Lyons & Co. was a pioneer in introducing computers to business. Between 1951 and 1963, the company manufactured and sold a range of LEO (Lyons Electronic Office) computers.</p>
              </div>

              <img src="img/1950.png" alt="1950: UNIVAC in production. Lyons tea employs computers for first commercial application. Alan Turing publishes intelligence paper"/>

              <div class="fact bottom-right"
                data-7300="opacity: 0;"
                data-7500="opacity: 1;" >
                <h3>The Turing test </h3>
                <p>The British mathematician and computer pioneer Alan Turing published a paper describing the potential development of human and computer intelligence and communication.</p>
              </div>

              <div class="dot" id="decade1950Right" rel="popover"
                data-7400="opacity: 0;"
                data-7600="opacity: 1;"
              data-title="Worldwide computers reach 100"
              data-content="It is estimated that in 1953 there was 100 computers in the world. Magazine Popular Mechanics quoted ‘Computers in the future may weigh no more than 1.5 tons’, the equivalent of 1,360 kg."
              data-placement="top"></div>

              <div class="fact bottom-left hide-if-js">
                <h3>Worldwide computers reach 100 </h3>
                <p>It is estimated that in 1953 there was 100 computers in the world. Magazine Popular Mechanics quoted ‘Computers in the future may weigh no more than 1.5 tons’, the equivalent of 1,360 kg.</p>
              </div>
            </div>
              </div>
            </section>
            <section id="decadepre1950" class="page decade decadepre1950" data-nav="Pre 1950"
              data-7800="top: 100%;"
              data-8000="top: 0%;">
              <div class="container">
                <header
                  data-7900="top: -200px;"
                  data-8000="top: 10px;">
                  <h2>Computing pre <span>1950s</span></h2>
                </header>
                <div class="inner"
                  data-7800="top: -100px;"
                  data-8000="top: 190px;"
                  data-8700="opacity: 1;"
                  data-9000="opacity: 0;">
              <div class="fact top-left"
                data-8100="opacity: 0;"
                data-8300="opacity: 1;">
                <h3>First electronic computers</h3>
                <p>Very few electronic computers were available before 1950. Previous famous non-electronic computers, such as Turing's Enigma machine were more common during the earlier World War years. </p>
              </div>

              <img src="img/pre1950.png" alt="Pre 1950: COLOSSUS and other elecontronic and non electronic computers "/>

              <div class="fact bottom-right"
                data-8300="opacity: 0;"
                data-8500="opacity: 1;" >
                <h3>COLOSSUS</h3>
                <p>COLOSSUS was the world's first electronic computer, and was developed for British codebreakers during World War II. The Mark I prototype was operational in February 1944, but was superseded by Mark II later that year. The National Museum of Computing have since rebuilt a Mark II COLOSSUS at Bletchley Park. </p>
              </div>
            </div>
              </div>
            </section>
          </div>

          <footer class="app-footer" data-8900="opacity: 1; z-index: 10000;" data-9000="opacity: 0; z-index: -1;">
            <div class="container">
            </div>
          </footer>
        </div><!-- .app-wrap-->

    </body>
</html>
